body {
  background-color: #292626;
}

@font-face {
    font-family: "tnr_cond";
    src: url(res/other/Times\ New\ Roman\ MT\ Std\ Bold\ Condensed.ttf);
}

.site-header {
  background-color: #d72324;
  color: white;
  font-family: tnr_cond;
  text-align: center;
  padding: 0px;
  width: 100%;
}

.site-header p {
  color: white;
}

main {
  background-color: #292626;
}

h2 {
    color: white;
    font-family: tnr_cond;
    text-align: center;
}

p {
  color: white;
  font-family: tnr_cond;
  text-align: center;
}