@font-face {
    font-family: "tnr_cond";
    src: url(res/other/Times\ New\ Roman\ MT\ Std\ Bold\ Condensed.ttf);
}

body {
  background-color: #292626;
}

.site-header {
  background-color: #d72324;
  color: white;
  font-family: tnr_cond;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0px;
  width: 100%;
  border-radius: 5px;
}

.site-header p {
  color: white;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #292626;
}

.profile {
  display: grid;
  /* this font might be good im not sure. id like to use a more custom font later */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin-left: 25px;
}

.profile img {
  /* the above section will set default options, which we can override case-by-case here */
  border-radius: 50%;
}

.profile p {
  font-family:'Courier New', Courier, monospace;
  max-width: 410px;
  text-overflow: clip;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  
  gap: 0px;

  font-family:'Courier New', Courier, monospace;
}

.buttons p {
  color: white;
}

.buttons button {
  background-color: #3d3d3d;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  width: 200px;
  height: 60px;
}